# Ingesting data

In [4]:
import pandas as pd

In [5]:
items = pd.read_csv(
filepath_or_buffer='data/dataScienceAssignment/items.csv',\
# This is the file path of the csv
# Give the column number that is to be used as index
#index_col=,\
# Give the row numbers that have to be dropped when reading a data file
#skiprows=,\
# na_values defaults include NaN, nan, null, n/a,
na_values=['','nan'],\
# Get the column names from a header row
header=0,\
    encoding='utf-8'
)

In [6]:
userint = pd.read_csv(
filepath_or_buffer='data/dataScienceAssignment/userInteractions.csv',\
# This is the file path of the csv
# Give the column number that is to be used as index
#index_col=,\
# Give the row numbers that have to be dropped when reading a data file
#skiprows=,\
# na_values defaults include NaN, nan, null, n/a,
na_values=['','nan'],\
# Get the column names from a header row
header=0,\
    encoding='utf-8'
)

In [7]:
user = pd.read_csv(
filepath_or_buffer='data/dataScienceAssignment/users.csv',\
# This is the file path of the csv
# Give the column number that is to be used as index
#index_col=,\
# Give the row numbers that have to be dropped when reading a data file
#skiprows=,\
# na_values defaults include NaN, nan, null, n/a,
na_values=['','nan'],\
# Get the column names from a header row
header=0,\
    encoding='utf-8'
)

## Viewing data

In [8]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7566 entries, 0 to 7565
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   accountId  7566 non-null   object
 1   filter     4161 non-null   object
dtypes: object(2)
memory usage: 118.3+ KB

In [9]:
userint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40466 entries, 0 to 40465
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   activity   40466 non-null  object
 1   entityId   40466 non-null  object
 2   accountId  40466 non-null  object
dtypes: object(3)
memory usage: 948.5+ KB

In [10]:
userint.head()

     activity                              entityId           accountId
0      VIEWED  6658c6db-7b22-4612-b14b-edcdfe3f61c4  794928084817024957
1  DOWNLOADED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
2      VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
3  DOWNLOADED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736
4      VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736

In [11]:
userint[userint.duplicated('entityId')]

         activity                              entityId            accountId
2          VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
4          VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
22     DOWNLOADED  036dd6f5-88cd-4505-a6c5-d29c8cc6463d  6599911511613774475
30     DOWNLOADED  45c5d0ea-485b-4654-baa2-076b8d61388f  6757220641285345543
32     DOWNLOADED  ac9b2037-0e88-4c0f-8a9d-e562fa2bdd17  6757220641285345543
...           ...                                   ...                  ...
40449      VIEWED  0116f0a5-3885-4821-a5f3-f1fd6ca39083   797451534953617045
40456  DOWNLOADED  4c06581a-722e-4aa7-8fa6-2535e28dd9e5   797451534953617045
40457      VIEWED  00d87bc0-77ae-4983-bcdd-a5e45bb58288   797451534953617045
40458      VIEWED  018fa186-1907-40a6-b17d-f4298cf66775   797451534953617045
40465  DOWNLOADED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636

[17520 rows x 3 columns]

In [12]:
userint[userint.duplicated('accountId')]

         activity                              entityId            accountId
2          VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
4          VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
7          VIEWED  d9487346-91cc-4014-b299-5d70e80423ab  6599911511613774475
8          VIEWED  f8f5499c-7429-4877-97ca-317b29480219  6599911511613774475
9          VIEWED  6a33318f-308b-4c15-b2ce-838dd5ea4741  6599911511613774475
...           ...                                   ...                  ...
40459      VIEWED  cda06649-7f9a-4b9b-9ecc-9aa61927c14b  6716299819444345211
40460      VIEWED  bc1d3936-6792-4abe-9277-67912340470e  6716299819444345211
40461      VIEWED  18f3f612-a84d-4991-9a44-d83670d04216  6716299819444345211
40462      VIEWED  6be1cbf8-126a-402e-84a0-81b63d5cc4c5  6716299819444345211
40465  DOWNLOADED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636

[32900 rows x 3 columns]

### Checking that there is an overlap between user and userint

In [13]:
user.loc[userint['accountId'].isin(user['accountId'].values)]

                accountId                                             filter
0      794928084817024957            {'KEYWORD': ['Delhi', 'House Keeping']}
1      794929730519308433                                                NaN
2      794934903824193736  {'KEYWORD': ['Power'], 'PURCHASER_NAME': ['GUN...
3      711046096666759540                                                 {}
4     6599911511613774475  {'LOCATION_STRING': ['Kerala'], 'KEYWORD': ['a...
...                   ...                                                ...
7561  6626837040359021976                                                NaN
7562   797451534953617045    {'KEYWORD': ['Software'], 'PURCHASER_NAME': []}
7563   797454655339632564                                                NaN
7564   797465021356448660                                                NaN
7565   797467675436522636                                                NaN

[7566 rows x 2 columns]

In [14]:
userint.loc[userint['accountId'].isin(user['accountId'].values)]

         activity                              entityId            accountId
0          VIEWED  6658c6db-7b22-4612-b14b-edcdfe3f61c4   794928084817024957
1      DOWNLOADED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
2          VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
3      DOWNLOADED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
4          VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
...           ...                                   ...                  ...
40461      VIEWED  18f3f612-a84d-4991-9a44-d83670d04216  6716299819444345211
40462      VIEWED  6be1cbf8-126a-402e-84a0-81b63d5cc4c5  6716299819444345211
40463      VIEWED  e171ceb0-9865-4fc7-802d-cd38661450ec   797465021356448660
40464      VIEWED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636
40465  DOWNLOADED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636

[40466 rows x 3 columns]

In [15]:
items.loc[items['id'].isin(userint['entityId'].values)]

,id,authority,publishingDate,bidDeadline,value,emd,status,locations,details
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,16861000.0,339000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Ranchi'}]",Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,52264000.0,1045000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Garhwa'}]",Repair And Maintenance Of Pmgsy Roads
58,660d9359-a254-4b6c-ae9e-9b4e373ba41e,Public Works Department,1.645101e+12,1.646400e+12,2218721.0,23000.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Nagpur'}]","Current Repairs To Furniture, Water Supply And..."
60,e2c877db-03ca-4ed7-af2c-9c6ec0221e7b,National Health Mission,1.645101e+12,1.645673e+12,NaN,1978301.0,ARCHIVED,"[{'state': 'Maharashtra', 'city': 'Mumbai'}]",Prov Transformer Work For Icu Ward Six Eight T...
62,fd897123-fd45-4e8c-b54e-fa81f4008036,Directorate Of Municipal Administration,1.645076e+12,1.646307e+12,439685.0,4396.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Beed'}]",Proposed Development Of C.c. Road In Ward No 4...
...,...,...,...,...,...,...,...,...,...
75176,015f39ca-5fde-44cf-a7d1-57707285cda4,Defence Research And Development Organisation,1.645097e+12,1.646816e+12,NaN,NaN,PUBLISHED,"[{'state': 'Tamil Nadu', 'city': 'Tiruvallur'}]","Preparation Of 3d Model , 2d Drawings And Prep..."
75532,eb9bcac5-9401-426b-a807-71d1bf36eae9,Rural Development Department,1.640950e+12,1.646653e+12,6848901.0,68489.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Satara'}]","Construction Of Pws Scheme At Dare Tarf Tamb, ..."
75533,ff2d3391-fdcc-481d-a309-9f021d7124d3,Nashik Municipal Corporation,1.639143e+12,1.646656e+12,NaN,6400000.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Nashik'}]",Design And Redevelopment Of Water Treatment Pl...
75643,2af32db9-08fa-480b-bf7c-10c6c2c47495,Haryana Board Corporation,1.643949e+12,1.646041e+12,NaN,50000.0,PUBLISHED,"[{'state': 'Haryana', 'city': 'Faridabad'}]",Hiring Of Pickup Van For Milk Route 168 Indri
76028,0edd361a-71d0-4dd7-af0a-d5060d52668f,South 24 Parganas Zilla Parisad,1.645015e+12,1.646210e+12,396345.0,7927.0,PUBLISHED,"[{'state': 'West Bengal', 'city': 'South 24 Pa...",Construction Of Dining Hall Model1 60 Capacity...

# Feature engineering

## User keywords

In [16]:
user.head()

             accountId                                             filter
0   794928084817024957            {'KEYWORD': ['Delhi', 'House Keeping']}
1   794929730519308433                                                NaN
2   794934903824193736  {'KEYWORD': ['Power'], 'PURCHASER_NAME': ['GUN...
3   711046096666759540                                                 {}
4  6599911511613774475  {'LOCATION_STRING': ['Kerala'], 'KEYWORD': ['a...

In [17]:
user['filter'][20]

"{'KEYWORD': ['Cement', 'Construction', 'Road', 'Supply', 'Uttar Pradesh']}"

In [18]:
user['filter'].fillna('{}',inplace=True)

In [19]:
from ast import literal_eval

In [20]:
def user_keywords(rowitem):
    pylist = literal_eval(rowitem)
    if 'KEYWORD' in pylist.keys():
        keywords = pylist['KEYWORD']
        string = ' '.join(keywords)
        return string
    else:
        return ''

In [21]:
user['filter'] = user['filter'].map(user_keywords)

## Items

In [22]:
items.head()

,id,authority,publishingDate,bidDeadline,value,emd,status,locations,details
0,7e5e42eb-de7d-4b63-bd8c-9a842c445e66,Directorate Of Rural Development,1.645277e+12,1.645787e+12,300000.0,6000.0,CANCELLED,"[{'state': 'Jammu & Kashmir', 'city': 'Kathua'}]",Construction Of Community Sanitary Complex Uni...
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,16861000.0,339000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Ranchi'}]",Repair And Maintenance Of Pmgsy Roads
2,673074b9-8592-4682-a4e4-ee388a1d86c5,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,32778000.0,656000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'West Singhbhu...",Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,52264000.0,1045000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Garhwa'}]",Repair And Maintenance Of Pmgsy Roads
4,929d94a1-0921-4625-9630-2720ee762f50,Rural Development Department,1.645270e+12,1.645760e+12,375755.0,NaN,ARCHIVED,"[{'state': 'Maharashtra', 'city': 'Nanded'}]",Construction Of Closed C.c. Drain / Road At Da...

In [23]:
items['details'].fillna('',inplace=True)

In [24]:
items['details'].eq('').sum()

51

In [25]:
itemfeatures = items[items['details'] != ''][['id','details']]

In [26]:
itemfeatures

,id,details
0,7e5e42eb-de7d-4b63-bd8c-9a842c445e66,Construction Of Community Sanitary Complex Uni...
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Repair And Maintenance Of Pmgsy Roads
2,673074b9-8592-4682-a4e4-ee388a1d86c5,Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Repair And Maintenance Of Pmgsy Roads
4,929d94a1-0921-4625-9630-2720ee762f50,Construction Of Closed C.c. Drain / Road At Da...
...,...,...
76218,bd11be68-f400-4d67-a1c4-bed99c74b49c,Latrin Bathroom At Ward No 5 And 6 Under Head ...
76219,93ff0af1-7ca6-4ec1-94e6-2440c9fc487b,Const.of Class Room At Darote M S In Pyt. Juda...
76220,73081412-1500-41c5-b667-827f6ea458c3,"Providing, Instt., Testing And Comm. Of P/mach..."
76221,adb5de46-82cc-4757-a686-1612823b5028,Installation Of Solar Street Lights Across Sar...
76222,9faa0002-fa86-4c38-8f07-1713c092e833,"Complete Cleaning , Servicing And Repairing Of..."

## Create user features

In [27]:
userint.head()

     activity                              entityId           accountId
0      VIEWED  6658c6db-7b22-4612-b14b-edcdfe3f61c4  794928084817024957
1  DOWNLOADED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
2      VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
3  DOWNLOADED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736
4      VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736

Combining the user interactions and user tables to created a combined table.
It appears that some of the entities in the 'user interactions' don't exist on 'items'

In [28]:
userintitems = pd.merge(userint, items, how="left", left_on='entityId', right_on='id')[['accountId','details']]

In [29]:
userintitems['details']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
40461    Modification Work For Physiotherapy Room, Pass...
40462    Deposit Work-jails Dept- Mws To Thavanur Centr...
40463                                                  NaN
40464    Providing And Laying G.i. Pipeline At Bl Incli...
40465    Providing And Laying G.i. Pipeline At Bl Incli...
Name: details, Length: 40466, dtype: object

In [30]:
userintitems['details'] = userintitems['details'].fillna('')

Converting all the items viewed by the user into a list

In [31]:
userintitems = userintitems.groupby('accountId')['details'].apply(list)

In [32]:
userintitems

accountId
6076439132127629518    [, , Engagement Of Security Services Agency Fo...
6090418399291119165           [, , Thread Ring Gauge-is:14962 , Is:2334]
6148417430046643859    [, , , , Construction Of New Office Building O...
6180975557690267471    [, , , , Supply Of 19" 24u Rack Enclosure Netw...
6261728811314844815    [, , , , Consultancy Services For Sewage Treat...
                                             ...
797451534953617045     [Hiring Of Agency For It Projects- Milestone B...
797454655339632564                                                    []
797465021356448660                                                    []
797467675436522636     [Providing And Laying G.i. Pipeline At Bl Incl...
ANONYMOUS              [, , , , , , , , , , , , , , , , , , , , , , ,...
Name: details, Length: 7566, dtype: object

Combining the viewed item list and the user list to create one data frame for modeling

In [33]:
userfeatures = pd.merge(userintitems, user, on="accountId")[['accountId','details','filter']]

In [34]:
userfeatures

,accountId,details,filter
0,6076439132127629518,"[, , Engagement Of Security Services Agency Fo...",ASTM D Building Cleaning Construction Paint Pa...
1,6090418399291119165,"[, , Thread Ring Gauge-is:14962 , Is:2334]",ERW Black Pipe ERW Pipes ERW Steel Tubes GI Pi...
2,6148417430046643859,"[, , , , Construction Of New Office Building O...",
3,6180975557690267471,"[, , , , Supply Of 19"" 24u Rack Enclosure Netw...",19 inch rack Angle Bracket for Step Hanger Enc...
4,6261728811314844815,"[, , , , Consultancy Services For Sewage Treat...",3D PRINTING CMM INSPECTIONS Furniture GI Wir...
...,...,...,...
7561,797451534953617045,[Hiring Of Agency For It Projects- Milestone B...,Software
7562,797454655339632564,[],
7563,797465021356448660,[],
7564,797467675436522636,[Providing And Laying G.i. Pipeline At Bl Incl...,
7565,ANONYMOUS,"[, , , , , , , , , , , , , , , , , , , , , , ,...",

Combining the details column into a single string

In [35]:
import numpy as np

In [36]:
def itemdetails(rowitem):
    #print(type(rowitem))
    detailsstring = ''
    for item in rowitem:
        #item = literal_eval(item)
        if not type(item)==float:
            detailsstring = detailsstring + ' ' + item
    return detailsstring

In [37]:
userfeatures['viewed'] = userfeatures['details'].apply(itemdetails)

In [38]:
userfeatures.head()

,accountId,details,filter,viewed
0,6076439132127629518,"[, , Engagement Of Security Services Agency Fo...",ASTM D Building Cleaning Construction Paint Pa...,Engagement Of Security Services Agency For ...
1,6090418399291119165,"[, , Thread Ring Gauge-is:14962 , Is:2334]",ERW Black Pipe ERW Pipes ERW Steel Tubes GI Pi...,"Thread Ring Gauge-is:14962 , Is:2334"
2,6148417430046643859,"[, , , , Construction Of New Office Building O...",,Construction Of New Office Building Of Me...
3,6180975557690267471,"[, , , , Supply Of 19"" 24u Rack Enclosure Netw...",19 inch rack Angle Bracket for Step Hanger Enc...,"Supply Of 19"" 24u Rack Enclosure Networki..."
4,6261728811314844815,"[, , , , Consultancy Services For Sewage Treat...",3D PRINTING CMM INSPECTIONS Furniture GI Wir...,Consultancy Services For Sewage Treatment...

Combining the strings keywords and viewed items strings to create one main string

In [39]:
userfeatures['finalfeatures'] = userfeatures['filter'] + userfeatures['viewed']

In [40]:
userfeatures['finalfeatures'].eq('').sum()

0

In [41]:
userfeatures.head()

,accountId,details,filter,viewed,finalfeatures
0,6076439132127629518,"[, , Engagement Of Security Services Agency Fo...",ASTM D Building Cleaning Construction Paint Pa...,Engagement Of Security Services Agency For ...,ASTM D Building Cleaning Construction Paint Pa...
1,6090418399291119165,"[, , Thread Ring Gauge-is:14962 , Is:2334]",ERW Black Pipe ERW Pipes ERW Steel Tubes GI Pi...,"Thread Ring Gauge-is:14962 , Is:2334",ERW Black Pipe ERW Pipes ERW Steel Tubes GI Pi...
2,6148417430046643859,"[, , , , Construction Of New Office Building O...",,Construction Of New Office Building Of Me...,Construction Of New Office Building Of Me...
3,6180975557690267471,"[, , , , Supply Of 19"" 24u Rack Enclosure Netw...",19 inch rack Angle Bracket for Step Hanger Enc...,"Supply Of 19"" 24u Rack Enclosure Networki...",19 inch rack Angle Bracket for Step Hanger Enc...
4,6261728811314844815,"[, , , , Consultancy Services For Sewage Treat...",3D PRINTING CMM INSPECTIONS Furniture GI Wir...,Consultancy Services For Sewage Treatment...,3D PRINTING CMM INSPECTIONS Furniture GI Wir...

In [42]:
features = userfeatures[userfeatures['finalfeatures']!=''].drop(columns=['details','filter', 'viewed'])

# Recommender

## Converting to vectors

Creating the tokenizer

In [43]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [44]:
def spacy_tokenizer(document):
    tokens = nlp(document)
    tokens = [token.lemma_.lower() for token in tokens if (
        token.is_stop == False and \
        token.is_punct == False and \
        token.lemma_.strip()!= '')]
    return tokens

Calling the count vectorizer

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
vector = CountVectorizer(input = 'content', tokenizer = spacy_tokenizer)

In [46]:
items['details'].count()

76223

Training the count vectorizer and transforming items

In [47]:
train_features = vector.fit_transform(items['details'].iloc[0:500].values)

/home/sumeetkd/.pyenv/versions/tenders/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [48]:
train_features

<500x2691 sparse matrix of type '<class 'numpy.int64'>'
	with 6001 stored elements in Compressed Sparse Row format>

Evaluating the nearest neighbours for a given user id

In [49]:
from sklearn.neighbors import NearestNeighbors

In [50]:
from scipy.sparse import vstack, csr_matrix

In [86]:
def similar(userid):
    user_vector = vector.transform(features.loc[features['accountId']==userid]['finalfeatures'].values)
    combined = vstack([user_vector,train_features])
    nbrs = NearestNeighbors(n_neighbors=10, metric='cosine').fit(combined)                                                                                                                        
    _, indices = nbrs.kneighbors(combined)    
    print(indices[0])
    ids = []
    for i in indices[0][1:]:
        ids.append(items['id'].iloc[i-1])
    return ids

In [87]:
similar('6076439132127629518')

[  0 401 290 479 489 153 201 471 429  28]

['7fd4658b-74a5-4978-87f1-33a24fa36c42',
 '9eb6e662-146f-4d5a-859d-40db8cddb4ec',
 'aa29a50c-47c8-4f54-81e2-dca5f7e7a5d6',
 '71daccba-3e8a-471e-a4d2-acfafa4a5b8f',
 'ff6a216f-4957-45b2-bc9f-3b9862d85a1b',
 '271d6ff7-3d09-4a84-993d-2d51a04a66f1',
 '0d98ce4d-fdb1-40a8-967d-dcc5c3db57ac',
 '4fe60e4b-15b0-4fb8-9da6-3cbf78bce866',
 'c0d6f47f-2fdd-4ec4-bb88-6abb9d74b3a4']