In [1]:
import pandas as pd

In [2]:
items = pd.read_csv(
filepath_or_buffer='data/dataScienceAssignment/items.csv',\
# This is the file path of the csv
# Give the column number that is to be used as index
#index_col=,\
# Give the row numbers that have to be dropped when reading a data file
#skiprows=,\
# na_values defaults include NaN, nan, null, n/a,
na_values=['','nan'],\
# Get the column names from a header row
header=0,\
    encoding='utf-8'
)

In [3]:
userint = pd.read_csv(
filepath_or_buffer='data/dataScienceAssignment/userInteractions.csv',\
# This is the file path of the csv
# Give the column number that is to be used as index
#index_col=,\
# Give the row numbers that have to be dropped when reading a data file
#skiprows=,\
# na_values defaults include NaN, nan, null, n/a,
na_values=['','nan'],\
# Get the column names from a header row
header=0,\
    encoding='utf-8'
)

In [4]:
user = pd.read_csv(
filepath_or_buffer='data/dataScienceAssignment/users.csv',\
# This is the file path of the csv
# Give the column number that is to be used as index
#index_col=,\
# Give the row numbers that have to be dropped when reading a data file
#skiprows=,\
# na_values defaults include NaN, nan, null, n/a,
na_values=['','nan'],\
# Get the column names from a header row
header=0,\
    encoding='utf-8'
)

In [11]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7566 entries, 0 to 7565
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   accountId  7566 non-null   object
 1   filter     4161 non-null   object
dtypes: object(2)
memory usage: 118.3+ KB

In [8]:
userint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40466 entries, 0 to 40465
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   activity   40466 non-null  object
 1   entityId   40466 non-null  object
 2   accountId  40466 non-null  object
dtypes: object(3)
memory usage: 948.5+ KB

In [6]:
userint.head()

     activity                              entityId           accountId
0      VIEWED  6658c6db-7b22-4612-b14b-edcdfe3f61c4  794928084817024957
1  DOWNLOADED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
2      VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
3  DOWNLOADED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736
4      VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736

In [9]:
userint[userint.duplicated('entityId')]

         activity                              entityId            accountId
2          VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
4          VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
22     DOWNLOADED  036dd6f5-88cd-4505-a6c5-d29c8cc6463d  6599911511613774475
30     DOWNLOADED  45c5d0ea-485b-4654-baa2-076b8d61388f  6757220641285345543
32     DOWNLOADED  ac9b2037-0e88-4c0f-8a9d-e562fa2bdd17  6757220641285345543
...           ...                                   ...                  ...
40449      VIEWED  0116f0a5-3885-4821-a5f3-f1fd6ca39083   797451534953617045
40456  DOWNLOADED  4c06581a-722e-4aa7-8fa6-2535e28dd9e5   797451534953617045
40457      VIEWED  00d87bc0-77ae-4983-bcdd-a5e45bb58288   797451534953617045
40458      VIEWED  018fa186-1907-40a6-b17d-f4298cf66775   797451534953617045
40465  DOWNLOADED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636

[17520 rows x 3 columns]

In [10]:
userint[userint.duplicated('accountId')]

         activity                              entityId            accountId
2          VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
4          VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
7          VIEWED  d9487346-91cc-4014-b299-5d70e80423ab  6599911511613774475
8          VIEWED  f8f5499c-7429-4877-97ca-317b29480219  6599911511613774475
9          VIEWED  6a33318f-308b-4c15-b2ce-838dd5ea4741  6599911511613774475
...           ...                                   ...                  ...
40459      VIEWED  cda06649-7f9a-4b9b-9ecc-9aa61927c14b  6716299819444345211
40460      VIEWED  bc1d3936-6792-4abe-9277-67912340470e  6716299819444345211
40461      VIEWED  18f3f612-a84d-4991-9a44-d83670d04216  6716299819444345211
40462      VIEWED  6be1cbf8-126a-402e-84a0-81b63d5cc4c5  6716299819444345211
40465  DOWNLOADED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636

[32900 rows x 3 columns]

In [13]:
user.loc[userint['accountId'].isin(user['accountId'].values)]

                accountId                                             filter
0      794928084817024957            {'KEYWORD': ['Delhi', 'House Keeping']}
1      794929730519308433                                                NaN
2      794934903824193736  {'KEYWORD': ['Power'], 'PURCHASER_NAME': ['GUN...
3      711046096666759540                                                 {}
4     6599911511613774475  {'LOCATION_STRING': ['Kerala'], 'KEYWORD': ['a...
...                   ...                                                ...
7561  6626837040359021976                                                NaN
7562   797451534953617045    {'KEYWORD': ['Software'], 'PURCHASER_NAME': []}
7563   797454655339632564                                                NaN
7564   797465021356448660                                                NaN
7565   797467675436522636                                                NaN

[7566 rows x 2 columns]

In [14]:
userint.loc[userint['accountId'].isin(user['accountId'].values)]

         activity                              entityId            accountId
0          VIEWED  6658c6db-7b22-4612-b14b-edcdfe3f61c4   794928084817024957
1      DOWNLOADED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
2          VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d   794929730519308433
3      DOWNLOADED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
4          VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41   794934903824193736
...           ...                                   ...                  ...
40461      VIEWED  18f3f612-a84d-4991-9a44-d83670d04216  6716299819444345211
40462      VIEWED  6be1cbf8-126a-402e-84a0-81b63d5cc4c5  6716299819444345211
40463      VIEWED  e171ceb0-9865-4fc7-802d-cd38661450ec   797465021356448660
40464      VIEWED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636
40465  DOWNLOADED  0039f6c3-def9-42fa-9668-202ad440b173   797467675436522636

[40466 rows x 3 columns]

In [15]:
items.loc[items['id'].isin(userint['entityId'].values)]

,id,authority,publishingDate,bidDeadline,value,emd,status,locations,details
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,16861000.0,339000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Ranchi'}]",Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,52264000.0,1045000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Garhwa'}]",Repair And Maintenance Of Pmgsy Roads
58,660d9359-a254-4b6c-ae9e-9b4e373ba41e,Public Works Department,1.645101e+12,1.646400e+12,2218721.0,23000.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Nagpur'}]","Current Repairs To Furniture, Water Supply And..."
60,e2c877db-03ca-4ed7-af2c-9c6ec0221e7b,National Health Mission,1.645101e+12,1.645673e+12,NaN,1978301.0,ARCHIVED,"[{'state': 'Maharashtra', 'city': 'Mumbai'}]",Prov Transformer Work For Icu Ward Six Eight T...
62,fd897123-fd45-4e8c-b54e-fa81f4008036,Directorate Of Municipal Administration,1.645076e+12,1.646307e+12,439685.0,4396.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Beed'}]",Proposed Development Of C.c. Road In Ward No 4...
...,...,...,...,...,...,...,...,...,...
75176,015f39ca-5fde-44cf-a7d1-57707285cda4,Defence Research And Development Organisation,1.645097e+12,1.646816e+12,NaN,NaN,PUBLISHED,"[{'state': 'Tamil Nadu', 'city': 'Tiruvallur'}]","Preparation Of 3d Model , 2d Drawings And Prep..."
75532,eb9bcac5-9401-426b-a807-71d1bf36eae9,Rural Development Department,1.640950e+12,1.646653e+12,6848901.0,68489.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Satara'}]","Construction Of Pws Scheme At Dare Tarf Tamb, ..."
75533,ff2d3391-fdcc-481d-a309-9f021d7124d3,Nashik Municipal Corporation,1.639143e+12,1.646656e+12,NaN,6400000.0,PUBLISHED,"[{'state': 'Maharashtra', 'city': 'Nashik'}]",Design And Redevelopment Of Water Treatment Pl...
75643,2af32db9-08fa-480b-bf7c-10c6c2c47495,Haryana Board Corporation,1.643949e+12,1.646041e+12,NaN,50000.0,PUBLISHED,"[{'state': 'Haryana', 'city': 'Faridabad'}]",Hiring Of Pickup Van For Milk Route 168 Indri
76028,0edd361a-71d0-4dd7-af0a-d5060d52668f,South 24 Parganas Zilla Parisad,1.645015e+12,1.646210e+12,396345.0,7927.0,PUBLISHED,"[{'state': 'West Bengal', 'city': 'South 24 Pa...",Construction Of Dining Hall Model1 60 Capacity...

Which users have seen the same things

In [22]:
userint[userint['entityId'].duplicated()].sort_values('entityId')

         activity                              entityId            accountId
6455       VIEWED  0002a1a8-7456-48ac-8c95-5e2e7c40b07b  6566856555734505319
1484   DOWNLOADED  0002a1a8-7456-48ac-8c95-5e2e7c40b07b   795050407381441335
1282   DOWNLOADED  0002a1a8-7456-48ac-8c95-5e2e7c40b07b   795037552615627821
2207       VIEWED  0002a1a8-7456-48ac-8c95-5e2e7c40b07b  6588376302523259413
6287       VIEWED  0002a1a8-7456-48ac-8c95-5e2e7c40b07b   794021607503827505
...           ...                                   ...                  ...
20082  DOWNLOADED  ffe37b9c-bad9-4b3c-9d7f-8d3704afc4db  6624416636373835012
15497      VIEWED  ffedf792-27d1-4f28-b40f-5999f3235d16   761492501159747336
15499  DOWNLOADED  ffedf792-27d1-4f28-b40f-5999f3235d16   761492501159747336
36289  DOWNLOADED  fff53418-4983-4705-9a55-d32058de6326   696062671316849124
1674   DOWNLOADED  fff5dd66-737e-487a-ac9c-c81efa245ee7   739579555013990730

[17520 rows x 3 columns]

In [33]:
userint.groupby('entityId')['activity'].apply(list)

entityId
0002a1a8-7456-48ac-8c95-5e2e7c40b07b    [VIEWED, DOWNLOADED, DOWNLOADED, VIEWED, VIEWE...
00070388-49a5-4bf6-8d33-facf20aa7821                 [VIEWED, VIEWED, DOWNLOADED, VIEWED]
000811a5-c300-4693-a685-7141d22bdcda                 [VIEWED, VIEWED, DOWNLOADED, VIEWED]
000b630f-80e1-44db-9dea-5ad3a1f1e6a4                                             [VIEWED]
000e6cce-454c-49fb-90ac-6ca9be676826                                             [VIEWED]
                                                              ...
ffedf792-27d1-4f28-b40f-5999f3235d16                          [SAVED, VIEWED, DOWNLOADED]
ffef94d3-c65f-47b5-b8b9-9ba68cedf1c5                                             [VIEWED]
fff53418-4983-4705-9a55-d32058de6326                                 [VIEWED, DOWNLOADED]
fff5dd66-737e-487a-ac9c-c81efa245ee7                                 [VIEWED, DOWNLOADED]
fffb84b2-a8a9-4944-95f5-5f285004f43d                                             [VIEWED]
Name: activity, Length: 22946, dtype: object

In [27]:
recommender = pd.DataFrame()

In [ ]:
recommender[['']]

In [17]:
userint.loc[userint['entityID']

KeyError: 'entityID'

# Content based filtering

In [34]:
items.head()

,id,authority,publishingDate,bidDeadline,value,emd,status,locations,details
0,7e5e42eb-de7d-4b63-bd8c-9a842c445e66,Directorate Of Rural Development,1.645277e+12,1.645787e+12,300000.0,6000.0,CANCELLED,"[{'state': 'Jammu & Kashmir', 'city': 'Kathua'}]",Construction Of Community Sanitary Complex Uni...
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,16861000.0,339000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Ranchi'}]",Repair And Maintenance Of Pmgsy Roads
2,673074b9-8592-4682-a4e4-ee388a1d86c5,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,32778000.0,656000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'West Singhbhu...",Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,52264000.0,1045000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Garhwa'}]",Repair And Maintenance Of Pmgsy Roads
4,929d94a1-0921-4625-9630-2720ee762f50,Rural Development Department,1.645270e+12,1.645760e+12,375755.0,NaN,ARCHIVED,"[{'state': 'Maharashtra', 'city': 'Nanded'}]",Construction Of Closed C.c. Drain / Road At Da...

## User keywords

In [26]:
user.head()

             accountId                                             filter
0   794928084817024957            {'KEYWORD': ['Delhi', 'House Keeping']}
1   794929730519308433                                                NaN
2   794934903824193736  {'KEYWORD': ['Power'], 'PURCHASER_NAME': ['GUN...
3   711046096666759540                                                 {}
4  6599911511613774475  {'LOCATION_STRING': ['Kerala'], 'KEYWORD': ['a...

In [27]:
user['filter'][20]

"{'KEYWORD': ['Cement', 'Construction', 'Road', 'Supply', 'Uttar Pradesh']}"

In [28]:
user['filter']

0                 {'KEYWORD': ['Delhi', 'House Keeping']}
1                                                     NaN
2       {'KEYWORD': ['Power'], 'PURCHASER_NAME': ['GUN...
3                                                      {}
4       {'LOCATION_STRING': ['Kerala'], 'KEYWORD': ['a...
                              ...
7561                                                  NaN
7562      {'KEYWORD': ['Software'], 'PURCHASER_NAME': []}
7563                                                  NaN
7564                                                  NaN
7565                                                  NaN
Name: filter, Length: 7566, dtype: object

In [35]:
user['filter'].fillna('{}',inplace=True)

In [30]:
from ast import literal_eval

In [31]:
def user_keywords(rowitem):
    pylist = literal_eval(rowitem)
    if 'KEYWORD' in pylist.keys():
        keywords = pylist['KEYWORD']
        string = ' '.join(keywords)
        return string
    else:
        return ''

In [32]:
user['filter'].map(user_keywords)

0                                     Delhi House Keeping
1
2                                                   Power
3
4       acp exterior glass interior structural glazing...
                              ...
7561
7562                                             Software
7563
7564
7565
Name: filter, Length: 7566, dtype: object

## Items

In [98]:
items.head()

,id,authority,publishingDate,bidDeadline,value,emd,status,locations,details
0,7e5e42eb-de7d-4b63-bd8c-9a842c445e66,Directorate Of Rural Development,1.645277e+12,1.645787e+12,300000.0,6000.0,CANCELLED,"[{'state': 'Jammu & Kashmir', 'city': 'Kathua'}]",Construction Of Community Sanitary Complex Uni...
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,16861000.0,339000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Ranchi'}]",Repair And Maintenance Of Pmgsy Roads
2,673074b9-8592-4682-a4e4-ee388a1d86c5,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,32778000.0,656000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'West Singhbhu...",Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Jharkhand State Rural Road Development Authority,1.645247e+12,1.646048e+12,52264000.0,1045000.0,PUBLISHED,"[{'state': 'Jharkhand', 'city': 'Garhwa'}]",Repair And Maintenance Of Pmgsy Roads
4,929d94a1-0921-4625-9630-2720ee762f50,Rural Development Department,1.645270e+12,1.645760e+12,375755.0,NaN,ARCHIVED,"[{'state': 'Maharashtra', 'city': 'Nanded'}]",Construction Of Closed C.c. Drain / Road At Da...

In [241]:
items['details'].eq('').sum()

51

In [6]:
itemfeatures = items[items['details'] != ''][['id','details']]

In [7]:
itemfeatures

,id,details
0,7e5e42eb-de7d-4b63-bd8c-9a842c445e66,Construction Of Community Sanitary Complex Uni...
1,828d3851-105f-4c24-ae68-c5b24597c7e7,Repair And Maintenance Of Pmgsy Roads
2,673074b9-8592-4682-a4e4-ee388a1d86c5,Repair And Maintenance Of Pmgsy Roads
3,836737ee-1d1d-4ae7-86f8-0c5abb8823c4,Repair And Maintenance Of Pmgsy Roads
4,929d94a1-0921-4625-9630-2720ee762f50,Construction Of Closed C.c. Drain / Road At Da...
...,...,...
76218,bd11be68-f400-4d67-a1c4-bed99c74b49c,Latrin Bathroom At Ward No 5 And 6 Under Head ...
76219,93ff0af1-7ca6-4ec1-94e6-2440c9fc487b,Const.of Class Room At Darote M S In Pyt. Juda...
76220,73081412-1500-41c5-b667-827f6ea458c3,"Providing, Instt., Testing And Comm. Of P/mach..."
76221,adb5de46-82cc-4757-a686-1612823b5028,Installation Of Solar Street Lights Across Sar...
76222,9faa0002-fa86-4c38-8f07-1713c092e833,"Complete Cleaning , Servicing And Repairing Of..."

## Create user features

In [106]:
userint.head()

     activity                              entityId           accountId
0      VIEWED  6658c6db-7b22-4612-b14b-edcdfe3f61c4  794928084817024957
1  DOWNLOADED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
2      VIEWED  0c5b4a9d-21c8-428b-bce4-ee27556ba49d  794929730519308433
3  DOWNLOADED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736
4      VIEWED  817f9dbd-c37c-4e47-af18-01d3c2d25e41  794934903824193736

It appears that some of the entities in the 'user interactions' don't exist on 'items'

In [8]:
items['details'].fillna('',inplace=True)

In [10]:
userintitems = pd.merge(userint, items, how="left", left_on='entityId', right_on='id')[['accountId','details']]

In [11]:
userintitems['details']

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
                               ...
40461    Modification Work For Physiotherapy Room, Pass...
40462    Deposit Work-jails Dept- Mws To Thavanur Centr...
40463                                                  NaN
40464    Providing And Laying G.i. Pipeline At Bl Incli...
40465    Providing And Laying G.i. Pipeline At Bl Incli...
Name: details, Length: 40466, dtype: object

In [12]:
userintitems['details'].fillna('')

0
1
2
3
4
                               ...
40461    Modification Work For Physiotherapy Room, Pass...
40462    Deposit Work-jails Dept- Mws To Thavanur Centr...
40463
40464    Providing And Laying G.i. Pipeline At Bl Incli...
40465    Providing And Laying G.i. Pipeline At Bl Incli...
Name: details, Length: 40466, dtype: object

In [13]:
userintitems = userintitems.groupby('accountId')['details'].apply(list)

In [14]:
userintitems

accountId
6076439132127629518    [nan, nan, Engagement Of Security Services Age...
6090418399291119165     [nan, nan, Thread Ring Gauge-is:14962 , Is:2334]
6148417430046643859    [nan, nan, nan, nan, Construction Of New Offic...
6180975557690267471    [nan, nan, nan, nan, Supply Of 19" 24u Rack En...
6261728811314844815    [nan, nan, nan, nan, Consultancy Services For ...
                                             ...
797451534953617045     [Hiring Of Agency For It Projects- Milestone B...
797454655339632564                                                 [nan]
797465021356448660                                                 [nan]
797467675436522636     [Providing And Laying G.i. Pipeline At Bl Incl...
ANONYMOUS              [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
Name: details, Length: 7566, dtype: object

In [36]:
userfeatures = pd.merge(userintitems, user, on="accountId")[['accountId','details','filter']]

In [37]:
userfeatures

,accountId,details,filter
0,6076439132127629518,"[nan, nan, Engagement Of Security Services Age...","{'LOCATION_STRING': ['Andhra Pradesh'], 'CATEG..."
1,6090418399291119165,"[nan, nan, Thread Ring Gauge-is:14962 , Is:2334]","{'ADVANCED_SEARCH': ['ENABLE_EXACT_SEARCH'], '..."
2,6148417430046643859,"[nan, nan, nan, nan, Construction Of New Offic...","{'LOCATION_STRING': ['Andhra Pradesh', 'Telang..."
3,6180975557690267471,"[nan, nan, nan, nan, Supply Of 19"" 24u Rack En...","{'VALUE': ['100000', '10000000000'], 'KEYWORD'..."
4,6261728811314844815,"[nan, nan, nan, nan, Consultancy Services For ...","{'KEYWORD': ['3D PRINTING ', 'CMM INSPECTIONS ..."
...,...,...,...
7561,797451534953617045,[Hiring Of Agency For It Projects- Milestone B...,"{'KEYWORD': ['Software'], 'PURCHASER_NAME': []}"
7562,797454655339632564,[nan],{}
7563,797465021356448660,[nan],{}
7564,797467675436522636,[Providing And Laying G.i. Pipeline At Bl Incl...,{}
7565,ANONYMOUS,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",{}

In [188]:
for item in userfeatures['details'][6]:
    print(type(item))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [17]:
import numpy as np

In [18]:
def itemdetails(rowitem):
    #print(type(rowitem))
    detailsstring = ''
    for item in rowitem:
        #item = literal_eval(item)
        if not type(item)==float:
            detailsstring = detailsstring + ' ' + item
    return detailsstring

In [38]:
userfeatures['viewed'] = userfeatures['details'].apply(itemdetails)

In [39]:
userfeatures.head()

,accountId,details,filter,viewed
0,6076439132127629518,"[nan, nan, Engagement Of Security Services Age...","{'LOCATION_STRING': ['Andhra Pradesh'], 'CATEG...",Engagement Of Security Services Agency For Pr...
1,6090418399291119165,"[nan, nan, Thread Ring Gauge-is:14962 , Is:2334]","{'ADVANCED_SEARCH': ['ENABLE_EXACT_SEARCH'], '...","Thread Ring Gauge-is:14962 , Is:2334"
2,6148417430046643859,"[nan, nan, nan, nan, Construction Of New Offic...","{'LOCATION_STRING': ['Andhra Pradesh', 'Telang...",Construction Of New Office Building Of Mercan...
3,6180975557690267471,"[nan, nan, nan, nan, Supply Of 19"" 24u Rack En...","{'VALUE': ['100000', '10000000000'], 'KEYWORD'...","Supply Of 19"" 24u Rack Enclosure Networking/s..."
4,6261728811314844815,"[nan, nan, nan, nan, Consultancy Services For ...","{'KEYWORD': ['3D PRINTING ', 'CMM INSPECTIONS ...",Consultancy Services For Sewage Treatment Pla...

In [40]:
from ast import literal_eval

In [41]:
def user_keywords(rowitem):
    pylist = literal_eval(rowitem)
    if 'KEYWORD' in pylist.keys():
        keywords = pylist['KEYWORD']
        string = ' '.join(keywords)
        return string
    else:
        return ''

In [42]:
userfeatures['keywords'] = userfeatures['filter'].apply(user_keywords)

In [43]:
userfeatures['finalfeatures'] = userfeatures['keywords'] + userfeatures['viewed']

In [44]:
userfeatures['finalfeatures'].eq('').sum()

3259

In [45]:
userfeatures.head()

,accountId,details,filter,viewed,keywords,finalfeatures
0,6076439132127629518,"[nan, nan, Engagement Of Security Services Age...","{'LOCATION_STRING': ['Andhra Pradesh'], 'CATEG...",Engagement Of Security Services Agency For Pr...,ASTM D Building Cleaning Construction Paint Pa...,ASTM D Building Cleaning Construction Paint Pa...
1,6090418399291119165,"[nan, nan, Thread Ring Gauge-is:14962 , Is:2334]","{'ADVANCED_SEARCH': ['ENABLE_EXACT_SEARCH'], '...","Thread Ring Gauge-is:14962 , Is:2334",ERW Black Pipe ERW Pipes ERW Steel Tubes GI Pi...,ERW Black Pipe ERW Pipes ERW Steel Tubes GI Pi...
2,6148417430046643859,"[nan, nan, nan, nan, Construction Of New Offic...","{'LOCATION_STRING': ['Andhra Pradesh', 'Telang...",Construction Of New Office Building Of Mercan...,,Construction Of New Office Building Of Mercan...
3,6180975557690267471,"[nan, nan, nan, nan, Supply Of 19"" 24u Rack En...","{'VALUE': ['100000', '10000000000'], 'KEYWORD'...","Supply Of 19"" 24u Rack Enclosure Networking/s...",19 inch rack Angle Bracket for Step Hanger Enc...,19 inch rack Angle Bracket for Step Hanger Enc...
4,6261728811314844815,"[nan, nan, nan, nan, Consultancy Services For ...","{'KEYWORD': ['3D PRINTING ', 'CMM INSPECTIONS ...",Consultancy Services For Sewage Treatment Pla...,3D PRINTING CMM INSPECTIONS Furniture GI Wir...,3D PRINTING CMM INSPECTIONS Furniture GI Wir...

In [46]:
features = userfeatures[userfeatures['finalfeatures']!=''].drop(columns=['details', 'filter', 'viewed', 'keywords'])

# Recommender

## Converting to vectors

In [48]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [53]:
def spacy_tokenizer(document):
    tokens = nlp(document)
    tokens = [token.lemma_.lower() for token in tokens if (
        token.is_stop == False and \
        token.is_punct == False and \
        token.lemma_.strip()!= '')]
    return tokens

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
vector = CountVectorizer(input = 'content', tokenizer = spacy_tokenizer)

In [55]:
items['details'].count()

76223

In [109]:
train_features = vector.fit_transform(items['details'].iloc[0:500].values)

In [110]:
train_features

<500x2691 sparse matrix of type '<class 'numpy.int64'>'
	with 6001 stored elements in Compressed Sparse Row format>

In [98]:
user_features = vector.transform(features['finalfeatures'].loc[0:500])

In [99]:
user_features

<339x2691 sparse matrix of type '<class 'numpy.int64'>'
	with 6390 stored elements in Compressed Sparse Row format>

In [65]:
from sklearn.neighbors import NearestNeighbors

In [67]:
from scipy.sparse import vstack

In [88]:
def similar(userid):
    user_vector = vector.transform(features.loc[features['accountId']==userid]['finalfeatures'].values)
    combined = vstack(user_vector,train_features)
    nbrs = NearestNeighbors(n_neighbors=4, metric='cosine').fit(combined)                                                                                                                        
    _, indices = nbrs.kneighbors(combined)                                 
    return(indices)

In [84]:
user

                accountId                                             filter
0      794928084817024957            {'KEYWORD': ['Delhi', 'House Keeping']}
1      794929730519308433                                                 {}
2      794934903824193736  {'KEYWORD': ['Power'], 'PURCHASER_NAME': ['GUN...
3      711046096666759540                                                 {}
4     6599911511613774475  {'LOCATION_STRING': ['Kerala'], 'KEYWORD': ['a...
...                   ...                                                ...
7561  6626837040359021976                                                 {}
7562   797451534953617045    {'KEYWORD': ['Software'], 'PURCHASER_NAME': []}
7563   797454655339632564                                                 {}
7564   797465021356448660                                                 {}
7565   797467675436522636                                                 {}

[7566 rows x 2 columns]

In [112]:
test1 = vector.transform(features.loc[features['accountId'] == '6148417430046643859']['finalfeatures'].values)

In [113]:
test1

<1x2691 sparse matrix of type '<class 'numpy.int64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [91]:
train_features

<500x2691 sparse matrix of type '<class 'numpy.int64'>'
	with 6001 stored elements in Compressed Sparse Row format>

In [114]:
vstack(test1, train_features)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''